@import './variables';
@import './mixin';


.chat-panel {
  width: $panel-width;
  height: $panel-height;
  float: right;
  position:absolute;
  left: -$panel-width;
  top: -$panel-height;
  @include transition(all .5s linear);
  }

  .invisilbe {
    visibility: hidden;
    height: 0;
  }

  