@import './variables';
@import './mixin';

.chat-button {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: $theme-color;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  @include transition(all .5s linear);
  }

  .open {
    @include transform(rotate(360deg));
  }